// fichier principal pour faire du css
//  test
/* footer {
    color:green !important;
}*/
// on importe boostratp icon
@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
// on appelle le fichier custom.scss
@import 'custom';

// footer en bas de la page
html {
    position:relative;
    min-height: 100%;
}
// footer en bas de la page
footer.footer {
    padding: 10px;
    position:absolute;
    bottom: 0;
    width:100%;
}

main {
    margin-bottom: 250px;
}

p {
    font-family: $font-family-serif;
    font-size: 18px;
}
// avant le bloc hero scene on cale un élément rien
.hero-scene{
    position: relative;
    &::before{
        content:"";
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-image: url(../images/imgbigtitle.jpg);
        background-size: cover;
        filter: brightness(0.3);
    }

    *{
        //Positionner les éléments devant le ::before
        position:relative;
    }

    .hero-scene-content{
        height: 182px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.text-justify {
    text-align: justify;
}

.image-card {
    // audessue de l'image
    position:relative;
// quand on passe la souris sur image

    &:hover{
        .titre-image {
            opacity:1;
        }
        img {
            filter:brightness(0.3);
        }
    }
    img {
        transition:all 0.3s;
    }

    .titre-image {
        // audessus de l'image
        position:absolute;
        // centrer un élément en position aboslue
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        opacity:0;
        transition:all 0.3s;

    }
}
